
body {
	background-color: #2f4f4f;
}
div {
	text-align: left;
}
p1 {
	font-size: 35px;
	color: #00BFFF;
}
p2 {
	font-size: 35px;
	color: #FFD700;
}
p3 {
	font-size: 35px;
	color: #90EE90;
}
h1 {
	font-size: 300%;
	color: #D3D3D3;
	font-family: monospace;
	text-align: center;
	padding: 80px ;
}

.btn {
	font-family: arial;
	text-transform: uppercase;
	font-size: 20px;
	width: 300px;
	height: 60px;
	border-radius: 80px;
	line-height: 60px;
	text-align: center;
	border:3px solid #D3D3D3;
	display: block;
	text-decoration: none;
	margin: -100px auto;
	color: #D3D3D3;
	position: relative;
	overflow: hidden;
	background: transparent;
	transition: all 1s;
}
.btn:hover {
	transform: scale(1.1);
}
img {
	margin: 1px auto;
	display: block;

}

button {

}